{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Ajex</title>
</head>
<body>
    <h1 id="titleApp">Now choose your filter rules.</h1>
    <form action="" method="POST" name="formPost" class="formPost" id="formData" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="inputFile" class="inputFile">
            <p>Sheet rules:</p>
            <input type="number" name="colDelet" id="colDelet" placeholder="Specify how many columns to drop if they have NaN values.">
            <input type="number" name="porcDelet" id="porcDelet" placeholder="Select percentage to delete is row. (%)">
            <p>Report Bi?</p>
            <input type="radio" name="acceptbi_report" id="acceptbi_report" value="Yes"> Yes
            <input type="radio" name="acceptbi_report" id="acceptbi_report" value="No"> No
            <input type="hidden" id="csrf-token" value="{{ csrf_token }}">   
        </label>
        <input type="submit" value="Enviar" onclick="validationForms()">
    </form>
    <script src="{% static '/js/script.js' %}"></script>
</body>
</html>